<style>
    .content h1 {
        color: white;
    }

    .label {
        color: #F24C27;;
    }
</style>
<form action="/stations/${_station.id}/addreading" method="POST">
    <div class="columns">
        <div class="field column">
            <label class="label">Code</label>
            <div class="control">
                <input class="input" placeholder="Code" type="number" name="code">
            </div>
        </div>
        <div class="field column">
            <label class="label">Temperature</label>
            <div class="control">
                <input class="input" placeholder="Temperature" type="number" step="any" name="temperature">
            </div>
        </div>
        <div class="field column">
            <label class="label">Wind Speed</label>
            <div class="control">
                <input class="input" placeholder="WindSpeed" type="number" step="any" name="windSpeed">
            </div>
        </div>
        <div class="field column">
            <label class="label">Wind Direction</label>
            <div class="control">
                <input class="input" placeholder="WindDirection" type="number" step="any" name="windDirection">
            </div>
        </div>
        <div class="field column">
            <label class="label">Pressure</label>
            <div class="control">
                <input class="input" placeholder="Pressure" type="number" step="any" name="pressure">
            </div>
        </div>
    </div>
    <div class="field mt-4">
        <div class="control">
            <button class="button is-info">Add Reading</button>
        </div>
    </div>
</form>
