<style>
  nav.navbar{
    background-color: #3C5973;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  a.navbar-item{
    color: #F24C27;
    text-align: center;
    font-weight: bold;
    font-family: intrebol.ttf,"Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
</style>
<nav class="navbar is-inverted">
  <div class="navbar-brand">
    <a id="start" class="navbar-item" href="/homepage"> WeatherTop Services Inc.</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a id="signup" class="navbar-item" href="/signup">SIGN UP </a>
      <a id="login" class="navbar-item" href="/login">LOGIN </a>

    </div>
  </div>
</nav>

<script>
  $("#${_id}").addClass("has-background-info-dark has-text-orange");
</script>
