#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}
<style>
    .box {
        color: white;
    }

    .list {
        text-align: left;
        font-size: large;
        font-weight: bold;
    }
</style>
<div class="content box">
    <div class="columns">
        <div class="column is-half">
            <p class="title">
            <p class="title">
                WeatherTop App
            </p>
            <div class="list">
                <p>Our WeatherTop App allows you to:</p>
                <li>Monitor latest weather station readings
                <li>Create your own stations
                <li>Add readings from your own kits
                <li>Delete stations and readings
                <li>Have your own unique station dashboard
                <li>Edit your profile details
            </div>
        </div>
        <div class="column is-half">
            <figure class="image is-square">
                <img src="/public/images/watchTower.png">
            </figure>
        </div>
    </div>
</div>