#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}
<style>
  .box {
    color: white;
  }
</style>
<div class="content box">
  <div class="columns">
    <div class="column is-half">
      <p class="title">
      <p class="title">
        WeatherTop App
      </p>
      <p>
        Monitor latest weather station readings
      </p>
      <p>
        Add photo of weather conditions
      </p>
    </div>
    <div class="column is-half">
      <figure class="image is-square">
        <img src="/public/images/watchTower.png">
      </figure>
    </div>
  </div>
</div>