#{extends 'main.html' /}
#{set title:'Signup' /}
#{welcomemenu id:"signup"/}

<style>
  .content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
    color: white;
  }
  .label {
    color: white;
    font-size: large;
  }
</style>

<section class="content box">
  <div class="columns">
    <div class="column is-half">
      <form action="/register" method="POST">
        <h3 class="subtitle">Register</h3>
        <div class="field is-horizontal field-body">
          <div class="field">
            <label class="label">First Name</label>
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="First Name" name="firstname">
            </p>
          </div>
          <div class="field">
            <label class="label">Last Name</label>
            <p class="control">
              <input class="input" type="text" placeholder="Last Name" name="lastname">
            </p>
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <input class="input" placeholder="Email" name="email">
        </div>
        <div class="field">
          <label class="label">Password</label>
          <input class="input" type="password" name="password">
        </div>
        <button class="button is-link is-info">Submit</button>
      </form>
    </div>
    <div class="column is-half">
      <figure class="image is-square">
        <img src="/public/images/watchTower.png">
      </figure>
    </div>
  </div>
</section>
