#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}


    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <p class = "image">
                    <img src="public/images/watchTower.png">
                </p>
            </div>
            <div class="column is-half">
                <div class="box is-large is-uppercase has-text-weight-bold has-text-white m-0">
                    Welcome to WeatherTop! A weather station application website where you can upload and store
                     your own weather station kit readings.
                </div>
                <div class="tags has-addons is-centered my-5">
                    <a href="/signup">
                    <span class="tag has-background-danger is-large is-uppercase has-text-weight-bold has-text-white m-0"> Select SignUp </span>
                    </a>
                </div>
                <div class="tags has-addons is-centered my-5">
                    <a href="/login">
                    <span class="tag is-info is-large has-text-weight-bold is-uppercase has-text-weight-bold  has-text-white m-0">Or Login</span>
                    </a>
                </div>
                <div class="box is-large is-uppercase has-text-weight-bold has-text-white m-0">
                    Get the weather analytics from your weather stations
                </div>
                <div class="box m-5">
                    <div class="columns">
                        <div class="column is-half">
                            <p class = "image">
                                <img src="public/images/weather-instrument.jpg">
                            </p>
                        </div>
                        <div class="column is-half">
                            <div class="box is-large is-uppercase has-text-weight-bold has-text-white m-0">
                                Get the weather analytics from your own weather station kit
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
