<style>
    div.content {
        color: white;
    }
</style>
#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<div class="content box">
    <h1 class="title">
        ${station.title}
    </h1>
</div>
<div class="content box">
    <!--  #{latestreadings station:station /}-->
    <!--try to make a partial for latest readings-->
    <!--  #{latestreadings station:station /}-->
    #{if station.readings.size() > 0}
    #{latestreadings station:station /}
    #{/if}
    #{else}
    <div class="container">
        <div class="tags has-addons is-centered my-5">
            <span class="tag has-background-danger is-large is-uppercase has-text-weight-bold has-text-white m-0">Station: ${station.title}, Has no Readings Recorded</span>
        </div>
    </div>
    #{/else}
</div>
<div class="content box">
    #{liststations station:station /}
</div>
<div class="content box">
    #{addreading station:station /}
</div>